/TestsInDockerSample/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/TestsInDockerSample/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/TestsInDockerSample/obj/Debug/net7.0/apphost
/TestsInDockerSample/obj/Release/net7.0/apphost
/.idea/.idea.TestsInDockerSample/.idea/aws.xml
/TestsInDockerSample/bin/Debug/net7.0/BouncyCastle.Cryptography.dll
/TestsInDockerSample/bin/Release/net7.0/BouncyCastle.Cryptography.dll
